{% extends "base_blog.html" %}
{% block content %}

<article class="post-container post-container--single">

    <header class="post-header">
      <div class="post-meta">
        <time datetime="{{ post.insert_dt }}" class="post-meta__date date">{{ post.insert_dt }}</time> &#8226; <span class="post-meta__tags tags">{{ post.tag.name }}</span>
        <!--<span class="post-meta__author author"><img src="{{ post.author.name }}" alt="profile image for {{ post.author.name }}" class="avatar post-meta__avatar" /> by {{ post.author.name }}</span>-->
      </div>
      <h1 class="post-title">{{ post.title }}</h1>
    </header>

    <section class="">
      {{ post.content_html|safe }}
    </section>

</article>

    <div id="disqus_thread"></div>



{% endblock %}

{% block js %}
    <script>
        currentWidth = $('.panel-cover').width();
            if (currentWidth < 960) {
              $('.panel-cover').addClass('panel-cover--collapsed');
              $('.content-wrapper').addClass('animated slideInRight');
            } else {
              $('.panel-cover').css({'max-width': '500px', 'width': '30%'});
              //$('.panel-cover').animate({'max-width': '500px', 'width': '30%'}, 400, swing = 'swing', function() {} );
            }
    </script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bonfy'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}