{% extends "base.html" %}

{% block content %}

<h1 class="page-header">Add TodoList</h1>

<form class="form-message" role="form" method="post" action="/todo/add">

  {{ form.csrf_token }}
  <div class="form-group">
  <label for="title" class="col-md-2 control-label">Todo:</label>
    {{ form.title(placeholder="title", class_="form-control form-textbox") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </div>
    <button class="btn btn-sm btn-success" type="submit">Post</button>
</form>

{% endblock %}